name: Close Completed Issues

on:
  issues:
    types:
      - labeled

jobs:
  close-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Close issue if labeled completed
        if: github.event.label.name == 'completed'
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: github.event.issue.number,
              state: 'closed'
            })